  <nav class="navbar navbar-expand-lg navbar-light " id="nav">
    <div class="container-fluid">
      <a class="navbar-brand">HELPI</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/inicio">Inicio</a>
        </div>
    </div>
      <form class="d-flex ">
        <input class="form-control me-1" type="search" style="background-color:#A6A6A6;" placeholder="Busca la Sucursal" aria-label="Search">
        
        <button class="redondo  me-2">Search</button>
      </form>
    </div>
  </nav>
 
  <p class="h1 p-4" align="center" style="color: aliceblue; background-color: #000000">Sucursales</p>
  
  <body style="background-color: #000000" class="new">
    
      <div class="card">
        <div class="parte frontal">
          <img src="../assets/Zona10Sucursal.jpeg" alt="">
          <h3>Zona 10 - Pialé</h3>
        </div>
        <div class="parte trasera">
          <h3>Z10 | Pialé</h3>
            <p><b>PBX:</b> 4551-2127</p>
            <p>16 Calle 06-17, Zona 10 | Oficina 13</p>
            <p>zona10.piale@helpi.com</p>
            <p>Lunes a Sábado: 8:00AM - 5:00PM</p>
            <div class="ubicacion">
            <a href="#">Contactar</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="parte frontal">
          <img src="../assets/Zona1Sucursal.jpeg" alt="">
          <h3>Zona 1 - Altea</h3>
        </div>
        <div class="parte trasera">
          <h3>Z1 | Altea</h3>
            <p><b>PBX:</b> 5987-0805</p>
            <p>17 Avenida "A" 5-83, Zona 1 | Apto. 22</p>
            <p>zona1.altea@helpi.com</p>
            <p>Lunes a Domingo: 10:00AM - 7:00PM</p>
          <div class="ubicacion">
            <a href="#">Contactar</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="parte frontal">
          <img src="../assets/Zona4Sucursal.jpeg" alt="">
          <h3>Zona 4 - Tec</h3>
        </div>
        <div class="parte trasera">
          <h3>Z4 | TEC</h3>
            <p><b>PBX:</b> 4525-1023</p>
            <p>Via 4 1-00, Zona 4 | Torre 3 Of. 313</p>
            <p>zona4.tec@helpi.com</p>
            <p>Martes a Sábado: 9:00AM - 6:00PM</p>
          <div class="ubicacion">
            <a href="#">Contactar</a>
          </div>
        </div>
      </div>
      <br>
  </body>
      <footer id="footer">
        <a style="color: aliceblue;">Helpi Company® By Luis Ortiz, Ricardo Paz, Rene Soto </a>
      </footer>

