<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE-edge">
      <meta name="viewport" content="width-device-widht, initial-scale=1.0">
      <title>Sucursales Helpi</title>
      <link rel="stylesheet" href="./dashboard.component.scss">
      <script src="https://kit.fontawesome.com/2142b104b2.js" crossorigin="anonymous"></script>
      <h1>Sucursales</h1>
  </head>
  <body>
    
      <div class="card">
        <div class="parte frontal">
          <img src="../assets/Zona10Sucursal.jpeg" alt="">
          <h3>Zona 10 - Pialé</h3>
        </div>
        <div class="parte trasera">
          <h3>Z10 | Pialé</h3>
            <p><b>PBX:</b> 4551-2127</p>
            <p>16 Calle 06-17, Zona 10 | Oficina 13</p>
            <p>zona10.piale@helpi.com</p>
            <p>Lunes a Sábado: 8:00AM - 5:00PM</p>
            <div class="ubicacion">
            <a href="#">Contactar</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="parte frontal">
          <img src="../assets/Zona1Sucursal.jpeg" alt="">
          <h3>Zona 1 - Altea</h3>
        </div>
        <div class="parte trasera">
          <h3>Z1 | Altea</h3>
            <p><b>PBX:</b> 5987-0805</p>
            <p>17 Avenida "A" 5-83, Zona 1 | Apto. 22</p>
            <p>zona1.altea@helpi.com</p>
            <p>Lunes a Domingo: 10:00AM - 7:00PM</p>
          <div class="ubicacion">
            <a href="#">Contactar</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="parte frontal">
          <img src="../assets/Zona4Sucursal.jpeg" alt="">
          <h3>Zona 4 - Tec</h3>
        </div>
        <div class="parte trasera">
          <h3>Z4 | TEC</h3>
            <p><b>PBX:</b> 4525-1023</p>
            <p>Via 4 1-00, Zona 4 | Torre 3 Of. 313</p>
            <p>zona4.tec@helpi.com</p>
            <p>Martes a Sábado: 9:00AM - 6:00PM</p>
          <div class="ubicacion">
            <a href="#">Contactar</a>
          </div>
        </div>
      </div>
      
  </body>
</html>

