<body style="background-color:#000">
    <br>
    <nav class="navbar navbar-expand-lg navbar-light" id="nav">
        <a class="navbar-brand" href="#">HELPI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <p class="h1 p-4" align="center" style="color: aliceblue;">Registrarse</p>

    <form class="p-4">
        <div align="center">
            <div class="col-6 col-md-4">
                <input type="text" id="los" class="form-control " placeholder="Nombre">
                <input type="text" id="los" class="form-control mb-4" placeholder="Apellido">
                <input type="email" id="los" class="form-control " placeholder="Correo">
                <input type="password" id="los" class="form-control mb-4"
                    placeholder="Contraseña, usa una contraseña segura"
                    aria-describedby="defaultRegisterFormPasswordHelpBlock">
                <small id="los" class="form-text text-muted mb-4">
                </small>
                <input type="number" id="los" class="form-control" placeholder="Numero de telefono"
                    aria-describedby="defaultRegisterFormPhoneHelpBlock">
                <small id="los" class="form-text text-muted ">
                </small>
                <br>
                <br>
                <div class="col-6 col-md-4">
                    <button mdbBtn block="true" class="redondo mb-6" type="submit">Cancelar</button>
                    <button mdbBtn block="true" class="redondo mb-4" type="submit">Aceptar</button>
                </div>
            </div>
        </div>
        <br><br><br>
        <footer id="footer">
            <a style="color: aliceblue;">Helpi Company® By Luis Ortiz, Ricardo Paz, Rene Soto </a>
          </footer>