body {
    text-align: center;
    height: 500px;
    background-image: url(https://www.freepik.es/foto-gratis/fondo-gris-pintado_4640662.htm#query=fondo%20gris&position=1&from_view=keyword);
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 10rem;
  }
    