<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Inicio</h1>
    <div>Hola soy Helpi, la aplicacion que te ayudara para yo lo que nececites <br>
    desde una limpieza en tu casa, hasta las reparaciones que necesites, todos desde la palma de tu mano y a un solo click</div>
    <h2>Hazlo facil!</h2>
    <img src="IMAGES/Logo.PNG"
    alt="Logo"
    width="400"
    height="400"
    title="Logo.">
    <div>Contamos con servicios como:</div>
    <li type="square">Plomeria</li>
    <li type="square">Carpinteria</li>
    <li type="square">Mecanica</li>
    <li type="square">Electricidad</li>
    <li type="square">Limpieza</li>
    <div>Precios de cada servicio por hora y tecnicos 100% capacitados por nosotros, trabajos y reparacions grarantizados</div>
    <h4>Contactanos</h4>
    <Div>5987-0805 y 4551-2127</Div>
    <div>o tambien en www.helpi.com</div>
</body>
</html>
