<body style="background-color: #0D0D0D" class="new">
    <br>
    <nav class="navbar navbar-light " id="nav">
        <div class="container-fluid">
          <a class="navbar-brand">HELPI</a>
          <form class="d-flex ">
            <input class="form-control me-1" type="search" style="background-color:#A6A6A6;" placeholder="Busca el servicio" aria-label="Search">
            <button class="redondo  me-2" routerLink="LoginComponent">Login</button>
            <button class="redondo  me-2" type="submit">Registrarse</button>
          </form>
        </div>
      </nav>
    <img src="assets/Logo.png" allign="left" alt="Logo" width="550" height="550" title="Logo.">
    <br>
    <br>
    <br>
    <p class="h1 p-4" allign="center" style="color: aliceblue;">Inicio</p>

    <br>
    <br>

    <p class="h4 p-4" allign="left" style="color: aliceblue;">En Helpi, Transformar Vidas a través de nuestros servicios es nuestro propósito. Para lograrlo, trabajamos con integridad, 
        compromiso y pasión para proporcionar las mejores soluciones para equipamiento y transformación de hogares y equipamento para el cuidado del usuario. 
    </p>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    
    
    <p class="h2 p-4" allign="center" style="color: aliceblue;">Servicios disponibles:</p>
    <br>
 
      <ul class="list-group list-group-horizontal" allign="center" id="listas">
        <li class="list-group-item" id="listas">Plomeria</li>
        <li class="list-group-item" id="listas">Carpinteria</li>
        <li class="list-group-item" id="listas">Mecanica</li>
        <li class="list-group-item" id="listas">Electricidad</li>
        <li class="list-group-item" id="listas">Limpieza</li>
        
      </ul>
      <br>
      <br>
      <br>
      <p class="h6 p-4" allign="center" style="color: aliceblue;">Precios de cada servicio por hora y tecnicos 100% capacitados por nosotros, trabajos y reparacions
        grarantizados</p>
    
        <p class="h4 p-4" allign="center" style="color: aliceblue;">Contactanos</p>
        <p class="h8" allign="center" style="color: aliceblue;">5987-0805 y 4551-2127</p>
        <p class="h8" allign="center" style="color: aliceblue;">helpiresources@helpi.com</p>
        <br> 
        <br>
        <br>

        <footer id="footer">
            <a style="color: aliceblue;">Helpi Company® By Luis Ortiz, Ricardo Paz, Rene Soto </a>
          </footer>

          <router-outlet></router-outlet>
<div>
    <app-header></app-header>
</div>
